.instsign-content-login {
}


.instsign-login-social-links {
  margin-top: 30px;
  height: 80px;
}

.instsign-login-social-link-text {
  margin-top: 6px;
  width: auto;
  height: 14px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.instsign-login-social-link-group {
  margin-left: 0;
}

.instsign-login-social-link-naver {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.instsign-login-social-link-naver-svg {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background: url("../img/naver.svg") no-repeat center center;
}

.instsign-login-social-link-kakao {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.instsign-login-social-link-kakao-svg {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background: url("../img/kakao.svg") no-repeat center center;

}

.instsign-login-social-link-google {
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
}

.instsign-login-social-link-google-svg {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background: url("../img/google.svg") no-repeat center center;
}

.instsign-login-social-link-facebook {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.instsign-login-social-link-facebook-svg {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background: url("../img/facebook.svg") no-repeat center center;
}

.instsign-content-or {
  width: 100%;
  margin-top: 37px;
}

.instsign-content-or .instsign-content-or-divider {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  width: 165px;
  height: 1px;
  border: solid 1px #d1d6e2;
}

.instsign-content-or .instsign-content-or-text {
  margin-left: 22px;
  margin-right: 22px;
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 14px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.instsign-login-forgot-password {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.instsign-login-forgot-id {
  display: inline-block;
  vertical-align: top;
}

.instsign-login-register {
  display: inline-block;
  vertical-align: top;
  position: relative;
  float: right;
  height: 14px;
  font-family: NanumSquareOTFB, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  color: #275ae6;
}
.instsign-login-register:hover{
  cursor: pointer;
}