
.instsign-content-display-email {

}

.instsign-content-display-email .instsign-content-subtitle{
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: NanumSquareOTFB, cursive;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #000000;
}

.instsign-content-display-email #resetPassword{
  width: 215px !important;
}

.instsign-content-display-email #login{
  width: 170px !important;
  margin-left: 10px;
}